.heroSectionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 93vh;
}

.bgHero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -90px;
}
.bgWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
}
.heroSection .leftSide {
  width: 45%;
  z-index: 1;
}

.heroSection .rightSide {
  width: 40%;
  z-index: 1;
}

.heroSection img {
  width: 65%;
}

h3.formHeader {
  font-size: 4.3rem;
  margin-bottom: 10px;
  margin-top: -3px;
  color: white;
}
h3.formHeader span {
  color: #ff0000;
  font-weight: 900;
}

p.headerTag {
  font-size: 1.9rem;
  margin-top: 45px;
  font-weight: 300;
  word-spacing: 3px;
  color: rgb(218, 226, 233);
}

.formCard {
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
  padding: 25px 40px;
  width: 90%;
  background-color: white;
  border-radius: 7px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

input {
  padding: 8px 20px;
  font-size: 1.7rem;
  width: auto;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
.text-muted {
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  padding: 6px 30px;
  font-size: 1.7rem;
}

/* .twoCol {
  display: flex;
  justify-content: space-between;
}

.twoCol .form-group {
  width: 48%;
}

.threeCol div.form-group {
  width: 27%;
}
.threeCol .form-group:nth-child(3) {
  width: 40%;
}

.nameAgeForm div.form-group {
  width: 35%;
}*/

.twoCol {
  display: flex;
  gap: 10px;
}

.twoCol > * {
  width: 50%;
}

.nameAgeForm .form-group:nth-child(2) {
  width: 67%;
}
.formCard .btnGetstarted {
  margin-top: 5px;
  display: inline-block;
}

.formCard p {
  color: rgb(224, 50, 50);
  font-size: 1.6rem;
  margin: 10px auto 17px;
  font-weight: 200;
}

label span {
  color: red;
  padding-top: 26px;
}

@media screen and (max-width: 500px) {
  .heroSection {
    margin-top: 0;
  }

  h3.formHeader span {
    color: #781f1f;
  }

  .heroSection .rightSide,
  .heroSection .leftSide {
    width: 100%;
  }

  p.headerTag {
    text-align: center;
    margin-top: -48px;
    word-spacing: 0;
    font-size: 1.7rem;
  }
  h3.formHeader {
    font-size: 3.5rem;
    text-align: center;
    margin: 4px auto 16px;
  }
  .formCard {
    width: 100%;
    padding: 30px 20px;
    background-color: #8f8f8f61;
    backdrop-filter: blur(13px);
  }
  .formHorizontal select {
    padding: 10px;
    background-color: #8f8f8f38;
    /* color: black; */
  }

  .formCard input,
  .css-1s2u09g-control,
  .formCard select {
    background-color: transparent !important;
    border-color: rgb(0, 0, 0) !important;
  }
  .css-14el2xx-placeholder,
  input::placeholder {
    color: rgb(42, 42, 42) !important;
  }
  .formCard p {
    margin: 10px auto 28px;
  }
}
