.maulGautra {
  display: flex;
  gap: 7px;
}

.maulGautra > input {
  width: 50%;
}

.succesShidhant {
  background-color: whitesmoke;
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.3);
}

.succesShidhant p {
  font-size: 2rem;
  text-align: center;
}

.succesShidhant button {
  /* width: fit-content; */
}
.fileGroup input[type='file'] {
  width: 100%;
  padding: 8px 5px;
}

.fileGroup label {
  color: grey;
  margin-bottom: 5px;
  display: block;
}
