.footer {
  position: relative;
  color: rgb(154, 154, 154);
}
.footerMainWrapper {
  background-color: #1c1c1c;
  padding: 40px 10px;
  font-size: 1.6rem;
}

.footerColumn h2 {
  color: #b8b8b8;
}

.footerFlex h2::after {
  width: 80px;
  content: '';
  height: 1px;
  background-color: blueviolet;
  border: none;
  display: block;
  margin-bottom: 10px;
}

.footerFlex ul {
  list-style: initial;
  margin-left: 17px;
}

.footerFlex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footerColumn {
  width: 22%;
  min-width: 200px;
}

.footerColumn span {
  display: block;
  margin-top: 7px;
}
.footerColumn:nth-child(1) {
  width: 24%;
}

.footerColumn:nth-child(4) {
  width: 17%;
}

.footerFlex ul li {
  margin: 6px 0;
}

.footerFlex ul li a,
.socialLinkWrapper a {
  color: rgb(154, 154, 154);
  transition: all 0.3s;
}

.footerFlex ul li a:hover {
  color: rgb(229, 229, 229);
}

.socialLinkWrapper {
  display: flex;
  gap: 17px;
  font-size: 2.4rem;
  margin-top: 15px;
}

.socialLinkWrapper a:hover {
  color: blueviolet;
}

.footerFlex .h2Margin {
  margin: 8px 0 10px;
}

@media screen and (max-width: 500px) {
  .footerFlex {
    flex-direction: column;
    gap: 25px;
  }
  .footerColumn,
  .footerColumn:nth-child(1),
  .footerColumn:nth-child(4) {
    width: 100%;
  }
}
