.serviceRegister {
  min-height: 95vh;
  background-color: rgb(248, 118, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceRegister h2 {
  font-size: 2.1rem;
  margin-bottom: 5px;
}

.serviceRegister form {
  background-color: aliceblue;
  max-width: 500px;
  padding: 30px 50px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
  border-left: 2px solid #575757;
  border-right: 2px solid #575757;
  border-bottom: 3px solid #575757;
  border-radius: 7px;
}

.serviceRegister textarea {
  padding: 8px 18px;
}

.successService {
  display: flex;
  flex-direction: column;
}
.successService p {
  text-align: center;
  font-size: 2.2rem;
  color: #000000;
  width: 60%;
  margin: 0 auto 20px;
}

.serviceRegister a {
  background-color: #3434c6;
  padding: 8px 20px;
  margin: 0 auto;
  font-size: 1.7rem;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.serviceRegister button {
  padding: 8px 30px;
  background-color: #3434c6;
  border: none;
  outline: none;
  color: white;
  font-size: 1.7rem;
  border-radius: 7px;
  cursor: pointer;
}

.serviceRegister button.right {
  margin-right: auto;
}

.serviceRegister p.message {
  font-size: 1.7rem;
  color: rgb(145, 145, 221);
  text-align: center;
}

.serviceRegister textarea::placeholder {
  font-size: 1.7rem;
  color: #9e9e9e;
}

@media screen and (max-width: 500px) {
  .serviceRegister form {
    padding: 30px 20px;
  }
}
